<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="../images/logo1.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food website | Home</title>
</head>

<body>

    <!--Header for laptop (start)-->
    <header>
        <div class="header">

           
            <!--Hidden Header for Mobile/Tablet (start)-->
            <div class="headerbar">
                <div class="account">
                    <ul>
                        <a href="index">
                            <li><i class="fa-solid fa-house-chimney"></i></li>
                        </a>
                        <a href="#">
                            <li><i class="fa-solid fa-magnifying-glass searchicon" id="searchicon1"></i></li>
                        </a>
                        <div class="search" id="searchinput1">
                            <input type="search" name="" id="">
                            <i class="fa-solid fa-magnifying-glass srchicon"></i>
                        </div>
                        <a href="#">
                            <li><i class="fa-solid fa-user" id="user-mb"></i></li>
                        </a>
                    </ul>
                </div>
                <div class="nav">
                    <ul>
                        <a href="./index">
                            <li>Home</li>
                        </a>
                        <a href="./About">
                            <li>About</li>
                        </a>
                        <a href="./menu">
                            <li>Food Menu</li>
                        </a>
                        <a href="./book">
                            <li>Book table</li>
                        </a>
                        <a href="./login">
                            <li>login</li>
                        </a>
                        <a href="./signup">
                            <li>Signup</li>
                        </a>
                    </ul>
                </div>
            </div>
            <!--Hidden Header for Mobile/Tablet (end)-->
            <div class="logo">
                <img src="../images/se.png" alt="logo">
            </div>
            <!--Bar/cross in header for mobile/tablet (start)-->
            <div class="bar">
                <i class="fa-solid fa-bars"></i>
                <i class="fa-solid fa-xmark" id="hdcross"></i>
            </div>
            <!--Bar/cross in header for mobile/tablet (end)-->
            <div class="nav">
                <ul>
                    <a href="./index">
                        <li>Home</li>
                    </a>
                    <a href="./About">
                        <li>About</li>
                    </a>
                    <a href="./menu">
                        <li>Food Menu</li>
                    </a>
                    <a href="./book">
                        <li>Book table</li>
                    </a>
                    <a href="./login">
                        <li>login</li>
                    </a>
                    <a href="./signup">
                        <li>Signup</li>
                    </a>
                </ul>
            </div>
            <div class="account">
                <ul>
                    <a href="./index">
                        <li><i class="fa-solid fa-house-chimney"></i></li>
                    </a>
                    <a href="#">
                        <li><i class="fa-solid fa-magnifying-glass searchicon" id="searchicon2"></i></li>
                    </a>
                    <div class="search" id="searchinput2">
                        <input type="search" name="" id="">
                        <i class="fa-solid fa-magnifying-glass srchicon"></i>
                    </div>
                    <a href="#">
                        <li><i class="fa-solid fa-user" id="user-lap"></i></li>
                    </a>
                </ul>
            </div>
        </div>
    </header>
    <!--Header for laptop (end)-->

    <!--Home Page-->
    <div class="home">
        <!--Section 1 (start)-->
        <div class="main_slide">
            <div>
                <h1>Enjoy <span> Delicious Food </span> in Your Healthy Life</h1>
                <p>
                    Welcome to SGS Food Restaurant, where we believe that enjoying delicious food is an integral part of a healthy lifestyle. Our culinary team meticulously crafts each dish to not only tantalize your taste buds but also nourish your body. From vibrant salads bursting with seasonal produce to lean protein options and flavorful whole grains, every bite at SGS Food Restaurant is a step towards a healthier you.

                    <br><br>We understand that healthy eating should never mean sacrificing flavor, which is why our chefs expertly blend spices and ingredients to create dishes that are as nutritious as they are delicious. Whether you're craving a hearty salad, a satisfying grain bowl, or a protein-packed entreé, our menu offers a wide variety of options to suit your tastes and dietary preferences.

                    <br><br>At SGS Food Restaurant, we're committed to promoting a balanced approach to dining, where you can savor every meal with the knowledge that you're nourishing your body with wholesome, thoughtfully-prepared ingredients. Join us in embracing the joy of delicious food in your healthy life at SGS Food Restaurant.
                </p>
                <button class="red_btn">Visit Now <i class="fa-solid fa-arrow-right-long"></i></button>
            </div>
            <div>
                <img src="../images/3rd.png" alt="">
            </div>
        </div>
        <!--Section 1 (end)-->

        <!--Section 2 (start)-->
        <!-- Keep only 3 items -->
        <div class="food-items">
            <div class="item">
                <div>
                    <img src="../images/item1.jpg" alt="Food item">
                </div>
                <h3>Dal Makhani</h3>
                <p>Dal Makhni is a creamy North Indian dish made from black lentils and kidney beans, cooked with butter, cream, and aromatic spices. It's a beloved comfort food often served with rice or bread</p>
                <button class="white_btn">See Menu</button>
            </div>
            <div class="item">
                <div>
                    <img src="../images/item2.png" alt="Food item">
                </div>
                <h3>Chicken Biryani</h3>
                <p>Chicken Biryani is a flavorful South Asian dish made with marinated chicken, fragrant basmati rice, and spices. It's known for its rich taste and is a popular choice in Indian and Pakistani cuisine</p>
                <button class="white_btn">See Menu</button>
            </div>
            <div class="item">
                <div>
                    <img src="../images/item3.jpg" alt="Food item">
                </div>
                <h3>Burger</h3>
                <p>A burger, a sandwich made with a cooked meat or vegetarian patty, is a beloved fast food staple. It's known for its convenience, satisfying taste, and endless topping possibilities.</p>
                <button class="white_btn">See Menu</button>
            </div>
        </div>
        <!--Section 2 (end)-->

        <!--Section 3 (start)-->
        <div class="main_slide2">
            <div class="foodimg">
                <img src="../images/plate1.png" alt="">
            </div>
            <div class="question">
                <div>
                    <h2>Why People Choose Us?</h2>
                </div>
                <div>
                    <div class="q-ans">
                        <div>
                            <img src="../images/plate2.png" alt="">
                        </div>
                        <div>
                            <h4>Vegetarian Food</h4>
                            <p><a href="https://www.zomato.com/ncr/delivery-in-noida?dishv2_id=32640">Salads</a>, 
                                <a href="https://www.zomato.com/ncr/delivery-in-noida?dishv2_id=51177">Pasta</a>, 
                                <a href="https://www.zomato.com/ncr/delivery-in-noida?dishv2_id=33064">Pizza with veggie toppings</a>, 
                                <a href="https://www.zomato.com/ncr/delivery-in-noida?dishv2_id=21207">Vegetable Noodles</a>, 
                                <a href="https://zomato.com/ncr/delivery-in-noida?dishv2_id=54462">Lentil Soups</a>, 
                                <a href="https://www.swiggy.com/search?query=Tofu+Noodles">Tofu Noodles</a>, 
                                <a href="https://www.zomato.com/ncr/faasos-wraps-rolls-sector-2-noida/order?contextual_menu_params=eyJkaXNoX3NlYXJjaCI6eyJ0aXRsZSI6IkJlc3QgaW4gRmFsYWZlbCBXcmFwcyIsImRpc2hfaWRzIjpbIjUxMjE0Il0sImN1aXNpbmVfaWRzIjpbXX19">Falafel Wraps</a>, 
                                <a href="https://www.zomato.com/ncr/burma-burma-noida-sector-18-noida/order?contextual_menu_params=eyJkaXNoX3NlYXJjaCI6eyJ0aXRsZSI6IkJlc3QgaW4gVmVnZXRhYmxlIEN1cnJpZXMiLCJkaXNoX2lkcyI6WyIzMDE5OCJdLCJjdWlzaW5lX2lkcyI6W119fQ%3D%3D">Creamed Corn With Paratha</a>, 
                                <a href="https://www.swiggy.com/search?query=Quinoa+And+Veggie+Burger">Quinoa And Veggie Burgers</a>, 
                                <a href="https://www.swiggy.com/search?query=Grilled+Vegetable+Salad">Grilled vegetables</a>.
                                </p>
                        </div>
                    </div>
                    <div class="q-ans">
                        <div>
                            <img src="../images/plate3.png" alt="">
                        </div>
                        <div>
                            <h4>Non-Vegetarian Food</h4>
                            <p><a href="https://www.zomato.com/ncr/delivery-in-noida?dishv2_id=55280">Chicken</a>,
                                <a href="https://www.zomato.com/ncr/delivery-in-noida?dishv2_id=64795">Fish</a>, 
                                <a href="https://www.zomato.com/ncr/delivery-in-noida?dishv2_id=52788">Shrimp</a>, 
                                <a href="https://www.zomato.com/ncr/delivery-in-noida?dishv2_id=52618">Lamb</a>, 
                                <a href="https://www.zomato.com/ncr/delivery-in-noida?dishv2_id=54805">Duck</a>, 
                                <a href="https://www.zomato.com/ncr/delivery-in-noida?dishv2_id=51252">Turkey</a>, 
                                <a href="https://www.zomato.com/ncr/delivery-in-noida?dishv2_id=5138">Crab</a>, 
                                <a href="https://www.zomato.com/ncr/delivery-in-noida?dishv2_id=60312">Lobster</a>.
                                </p>
                        </div>
                    </div>
                    <div class="q-ans">
                        <div>
                            <img src="../images/plate4.png" alt="">
                        </div>
                        <div>
                            <h4>Other Food</h4>
                            <p><a href="https://www.swiggy.com/search?query=Fruit+Shrikhand">Fruit Shrikhand</a>, 
                                <a href="https://www.zomato.com/ncr/delivery-in-noida?dishv2_id=2430">Dairy</a>,   
                                <a href="https://www.zomato.com/ncr/delivery-in-noida?dishv2_id=8039">Sweets</a>, 
                                <a href="https://www.zomato.com/ncr/delivery-in-noida?dishv2_id=10093">Cold Drink</a>.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--Section 3 (end)-->

        <!--Section 4 (start)-->

        <div class="main_slide3">
            <div class="fav-head">
                <h3>Our Popular Food Items</h3>
                <p>Our restaurant's signature dishes include succulent Tandoori Chicken,<strong>Chicken Biryani,Rajma Chawal,Fried Momos,and Paneer Tikka,</strong> enticing diners with a symphony of Indian flavors and spices.</p>
            </div>
            <!-- Keep only 4 items -->
            <div class="fav-food">
                <div class="item">
                    <div>
                        <img src="../images/plate1.png" alt="Food item">
                    </div>
                    <h3><a href="https://www.zomato.com/ncr/bikkgane-biryani-sector-18-noida/order?contextual_menu_params=eyJkaXNoX3NlYXJjaCI6eyJ0aXRsZSI6IkJlc3QgaW4gQ2hpY2tlbiBCaXJ5YW5pIiwiZGlzaF9pZHMiOlsiMjg3NDAiXSwiY3Vpc2luZV9pZHMiOltdfX0%3D">Chicken Biryani</a></h3>
                    <p>A tantalizing fusion of aromatic spices, tender chicken, and fragrant basmati rice, cherished worldwide for its irresistible flavor and cultural significance in Indian cuisine.</p>
                    <p class="fav-price">₹349</p>
                </div>
                <div class="item">
                    <div>
                        <img src="../images/item4.jpg" alt="Food item">
                    </div>
                    <h3><a href="https://www.zomato.com/ncr/big-bowl-sector-18-noida/order?contextual_menu_params=eyJkaXNoX3NlYXJjaCI6eyJ0aXRsZSI6IkJlc3QgaW4gUmFqbWEgUmljZSIsImRpc2hfaWRzIjpbIjQzMzYxIl0sImN1aXNpbmVfaWRzIjpbXX19">Rajma Rice</a></h3>
                    <p>A comforting blend of creamy red kidney beans and fluffy basmati rice, beloved in North Indian cuisine for its hearty flavors and soul-satisfying taste.</p>
                    <p class="fav-price">₹239</p>
                </div>
                <div class="item">
                    <div>
                        <img src="../images/item5.jpg" alt="Food item">
                    </div>
                    <h3><a href="https://www.zomato.com/ncr/wow-momo-vasundhara-enclave-new-delhi/order?contextual_menu_params=eyJkaXNoX3NlYXJjaCI6eyJ0aXRsZSI6IkJlc3QgaW4gRnJpZWQgTW9tb3MiLCJkaXNoX2lkcyI6WyIzOTM1NCJdLCJjdWlzaW5lX2lkcyI6W119fQ%3D%3D">Fried Momos</a></h3>
                    <p>Crispy on the outside, juicy on the inside, these Himalayan dumplings are a global street food sensation, loved for their irresistible blend of flavors and textures.</p>
                    <p class="fav-price">₹159</p>
                </div>
                <div class="item">
                    <div>
                        <img src="../images/item6.jpg" alt="Food item">
                    </div>
                    <h3><a href="https://www.zomato.com/ncr/punjabi-angithi-by-vegorama-group-sector-15-noida/order?contextual_menu_params=eyJkaXNoX3NlYXJjaCI6eyJ0aXRsZSI6IkJlc3QgaW4gUGFuZWVyIFRpa2thIiwiZGlzaF9pZHMiOlsiNjc5NjEiXSwiY3Vpc2luZV9pZHMiOltdfX0%3D">Paneer Tikka</a></h3>
                    <p>Marinated cubes of paneer cheese, grilled to perfection, offer a tantalizing blend of smoky flavors and creamy textures, a beloved vegetarian delicacy in Indian cuisine.</p>
                    <p class="fav-price">₹259</p>
                </div>
            </div>
            <!-- design div  -->
            <div class="dsgn"></div>
        </div>
        <!--Section 4 (end)-->

        <!--Section 5 (start)-->
        <div class="main_slide4">

            <div class="chef-feed">
                <h2>Customer <span style="color: red;">Feedback</span></h2>
                <p>"Absolutely loved the flavors and presentation of the dishes at the restaurant! The Chicken Biryani was fragrant and perfectly spiced, while the Rajma Rice was creamy and comforting. The Paneer Tikka was a highlight with its smoky flavor, and the Fried Momos were crispy and delicious. Overall, a fantastic dining experience with impeccable service!"</p>
                <div class="chef-detail">
                    <div>
                        <img src="../images/logo1.png" alt="">
                    </div>
                    <div>
                        <h6>SGS</h6>
                        <p>Food Restaurant</p>
                    </div>
                </div>
                <div class="chef-vic">
                    <div>
                        <i class="fa-solid fa-hand-peace"></i>
                        <h4>68</h4>
                        <p>"Your restaurant is fantastic! Delicious food, great atmosphere, and wonderful service.<br>Can't wait to come back"</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-trophy"></i>
                        <h4>956</h4>
                        <p>"Top restaurant award: Excellence in food, service" </p>
                    </div>
                </div>
            </div>
            <div class="chef">
                <img src="../images/chef.jpg" alt="">
            </div>
        </div>
        <!--Section 5 (end)-->

        <!--Section 6 (start)-->
        <div class="letter">
            <div class="letter-head">
                <h2>Subscribe <span>Newsletter</span></h2>
            </div>
            <div class="letter-input">
                <div>
                    <input type="email" placeholder="sgs_food_restaurant@gmail.com" readonly>
                </div>
                <button class="red_btn" onclick="window.location.href='https://www.youtube.com/channel/UChH7e-7f0_Q6beyH9NwLjqg'">Subscribe</button>
            </div>
        </div>
        <!--Section 6 (end)-->
    </div>

    <!--Footer-->
    <div class="footer">
        <div class="footer-1">
            <div class="logo">
                <img src="../images/se.png" alt="logo">
            </div>
            <div>
            </div>
        </div>
        <div class="footer-2">
            <img src="" alt="">
            <h2>Developed by <em><span style="color: red;">Madhav Madan</span></em></h2>
        </div>
    </div>
      <!--Footer-->

      <footer>
        <div class="footer_main">

            <div class="footer_tag">
                <h2>Location</h2>
                <p>Bihar</p>
                <p>Jharkhand</p>
                <p>Delhi</p>
                <p>Hydrabad</p>
                <p>Uttarakhand</p>
            </div>

            <div class="footer_tag">
                <h2>Quick Link</h2>
                <p>Home</p>
                <p>About</p>
                <p> Food Menu</p>
                <p>Book Table</p>
            </div>

            <div class="footer_tag">
                <h2>Contact</h2>
                <p>7485863574</p>
                <p>7461851588</p>
                <p>sgs_food_restaurant@gmail.com</p>
            </div>

            <div class="footer_tag">
                <h2>Our Service</h2>
                <p>Fast Delivery</p>
                <p>Easy Payments</p>
                <p>24 x 7 Service</p>
            </div>

            <div class="footer_tag">
                <h2>Follows</h2>
                <a href="https://www.facebook.com/madhav.jha.9615566?mibextid=ZbWKwL"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://twitter.com/MADHAV62761349"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/sgs2006/"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://github.com/MadhavMadan336"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.instagram.com/sgs2006/"><i class="fa-brands fa-instagram"></i></a>

            </div>
        </div>
        
    </footer>
    <script src="app.js"></script>
</body>

</html>
