<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../images/logo1.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food website | Food Menu</title>
</head>

<body>
    <!--Header for laptop (start)-->
    <header>
        <div class="header">
            <!--Hidden Header for Mobile/Tablet (start)-->
            <div class="headerbar">
                <div class="account">
                    <ul>
                        <a href="./index">
                            <li><i class="fa-solid fa-house-chimney"></i></li>
                        </a>
                        <a href="#">
                            <li><i class="fa-solid fa-magnifying-glass searchicon" id="searchicon1"></i></li>
                        </a>
                        <div class="search" id="searchinput1">
                            <input type="search" name="" id="">
                            <i class="fa-solid fa-magnifying-glass srchicon"></i>
                        </div>
                        <a href="#">
                            <li><i class="fa-solid fa-user" id="user-mb"></i></li>
                        </a>
                    </ul>
                </div>
                <div class="nav">
                    <ul>
                        <a href="./index">
                            <li>Home</li>
                        </a>
                        <a href="./About">
                            <li>About</li>
                        </a>
                        <a href="./menu">
                            <li>Food Menu</li>
                        </a>
                        <a href="./book">
                            <li>Book table</li>
                        </a>
                        <a href="./login">
                            <li>login</li>
                        </a>
                        <a href="./signup">
                            <li>Signup</li>
                        </a>
                    </ul>
                </div>
            </div>
            <!--Hidden Header for Mobile/Tablet (end)-->
            <div class="logo">
                <img src="../images/se.png" alt="logo">
            </div>
            <!--Bar/cross in header for mobile/tablet (start)-->
            <div class="bar">
                <i class="fa-solid fa-bars"></i>
                <i class="fa-solid fa-xmark" id="hdcross"></i>
            </div>
            <!--Bar/cross in header for mobile/tablet (end)-->
            <div class="nav">
                <ul>
                    <a href="./index">
                        <li>Home</li>
                    </a>
                    <a href="./About">
                        <li>About</li>
                    </a>
                    <a href="./menu">
                        <li>Food Menu</li>
                    </a>
                    <a href="./book">
                        <li>Book table</li>
                    </a>
                    <a href="./login">
                        <li>login</li>
                    </a>
                    <a href="./signup">
                        <li>Signup</li>
                    </a>
                </ul>
            </div>
            <div class="account">
                <ul>
                    <a href="./index">
                        <li><i class="fa-solid fa-house-chimney"></i></li>
                    </a>
                    <a href="#">
                        <li><i class="fa-solid fa-magnifying-glass searchicon" id="searchicon2"></i></li>
                    </a>
                    <div class="search" id="searchinput2">
                        <input type="search" name="" id="">
                        <i class="fa-solid fa-magnifying-glass srchicon"></i>
                    </div>
                    <a href="#">
                        <li><i class="fa-solid fa-user" id="user-lap"></i></li>
                    </a>
                </ul>
            </div>
        </div>
    </header>
    <!--Header for laptop (end)-->

    <div class="menu">
        <div class="menu1">
            <div>
                <h1>Food Menu</h1>
            </div>
            <div class="fav-head">
                <!-- Add your all food items  -->
                <div class="fav-food">
                    <div class="item">
                        <div>
                            <img src="../images/food4.jpg" alt="Food item">
                        </div>
                        <a href="https://www.swiggy.com/search?query=Chicken+Biryani"><h3>Chicken Biryani</h3></a>
                        <p>Fragrant basmati rice cooked with tender chicken and aromatic spices, originating from South Asia. </p>
                        <p class="fav-price">₹250</p>
                        
                    </div>
                    <div class="item">
                        <div>
                            <img src="../images/f2.jpg" alt="Food item">
                        </div>
                        <a href="https://www.swiggy.com/search?query=Carbonara+Pasta"><h3>Spaghetti Carbonara</h3></a>
                        <p>  Italian pasta dish with eggs, cheese, pancetta, and black pepper for a creamy, flavorful sauce. </p>
                        <p class="fav-price">₹300</p>
                        
                    </div>
                    <div class="item">
                        <div>
                            <img src="../images/item6.jpg" alt="Food item">
                        </div>
                        <a href="https://www.swiggy.com/search?query=Paneer+Tikka"><h3>Paneer Tikka</h3></a>
                        <p>Grilled marinated paneer cubes, often accompanied by mint chutney, is a beloved Indian appetizer. </p>
                        <p class="fav-price">₹200</p>
                        
                    </div>
                    <div class="item">
                        <div>
                            <img src="../images/f3.jpg" alt="Food item">
                        </div>
                        <a href="https://www.swiggy.com/search?query=Caesar+Salad"><h3>Caesar Salad</h3></a>
                        <p>A classic blend of romaine lettuce, croutons, Parmesan cheese, and Caesar dressing. </p>
                        <p class="fav-price">₹180</p>
                        
                    </div>
                    <div class="item">
                        <div>
                            <img src="../images/f4.jpg" alt="Food item">
                        </div>
                        <a href="https://www.swiggy.com/search?query=Sushi"><h3>Sushi Rolls</h3></a>
                        <p>Japanese dish featuring vinegared rice, seafood, vegetables, and nori seaweed, rolled for a flavorful bite. </p>
                        <p class="fav-price">₹400</p>
                        
                    </div>
                    <div class="item">
                        <div>
                            <img src="../images/f5.jpg" alt="Food item">
                        </div>
                        <a href="https://www.swiggy.com/search?query=Margherita+Pizza"><h3>Margherita Pizza</h3></a>
                        <p>Classic Italian pizza adorned with tomato sauce, fresh mozzarella cheese, basil leaves, and olive oil. </p>
                        <p class="fav-price">₹350</p>
                        
                    </div>
                    <div class="item">
                        <div>
                            <img src="../images/f6.jpg" alt="Food item">
                        </div>
                        <a href="https://www.swiggy.com/search?query=Veg+Pad+Thai+Noodles"><h3>Pad Thai</h3></a>
                        <p>Thai stir-fried rice noodle dish featuring tamarind, fish sauce, peanuts, often served with tofu. </p>
                        <p class="fav-price">₹280</p>
                        
                    </div>
                    <div class="item">
                        <div>
                            <img src="../images/f7.jpg" alt="Food item">
                        </div>
                        <a href="https://www.swiggy.com/search?query=Chicken+Tikka+Masala"><h3>Chicken Tikka Masala</h3></a>
                        <p>Curry with grilled chicken.</p>
                        <p class="fav-price">₹320</p>
                        
                    </div>
                    <div class="item">
                        <div>
                            <img src="../images/f8.jpg" alt="Food item">
                        </div>
                        <a href="https://www.swiggy.com/search?query=Ham+Burger"><h3>Hamburger</h3></a>
                        <p>Iconic American dish featuring a ground beef patty served in a bun with various toppings.</p>
                        <p class="fav-price">₹450</p>
                        
                    </div>
                    <div class="item">
                        <div>
                            <img src="../images/f9.jpeg" alt="Food item">
                        </div>
                        <a href="https://www.swiggy.com/search?query=Fish+And+Chips"><h3>Fish and Chips</h3></a>
                        <p>Iconic British dish of battered and fried fish with crispy potato chips, usually served with tartar sauce. </p>
                        <p class="fav-price">₹200</p>
                        
                    </div>
                    <div class="item">
                        <div>
                            <img src="../images/f10.jpg" alt="Food item">
                        </div>
                        <a href="https://www.swiggy.com/search?query=Lasagna"><h3>Lasagna</h3></a>
                        <p>Italian pasta dish layered with lasagna sheets, meat sauce, and mozzarella, baked to perfection. </p>
                        <p class="fav-price">₹350</p>
                        
                    </div>
                    <div class="item">
                        <div>
                            <img src="../images/f11.jpeg" alt="Food item">
                        </div>
                        <a href="https://www.zomato.com/ncr?dishv2_id=10828&category=1"><h3>Miso Soup</h3></a>
                        <p>Traditional Japanese soup made with dashi broth, miso paste, tofu, seaweed, and scallions. </p>
                        <p class="fav-price">₹300</p>
                        
                    </div>
                    <div class="item">
                        <div>
                            <img src="../images/f12.jpg" alt="Food item">
                        </div>
                        <a href="https://www.swiggy.com/search?query=Chicken+Satay"><h3>Chicken Satay</h3></a>
                        <p>Indonesian dish featuring skewered and grilled chicken served with peanut sauce and cucumber salad. </p>
                        <p class="fav-price">₹220</p>
                        
                    </div>
                    <div class="item">
                        <div>
                            <img src="../images/f13.jpg" alt="Food item">
                        </div>
                        <a href="https://www.zomato.com/ncr?dishv2_id=53326&category=1"><h3>Caprese Salad</h3></a>
                        <p>Italian salad made with fresh tomatoes, mozzarella cheese, basil leaves, and balsamic vinegar. </p>
                        <p class="fav-price">₹200</p>
                        
                    </div>
                    <div class="item">
                        <div>
                            <img src="../images/f14.jpeg" alt="Food item">
                        </div>
                        <a href="https://www.swiggy.com/search?query=Ratatouille"><h3>Ratatouille</h3></a>
                        <p> French vegetable stew made with eggplant, zucchini, bell peppers, onions, tomatoes, and herbs. </p>
                        <p class="fav-price">₹200</p>
                    </div>
                    <div class="item">
                        <div>
                            <img src="../images/f15.jpg" alt="Food item">
                        </div>
                        <a href="https://www.zomato.com/ncr?dishv2_id=3022&category=1"><h3>Pho</h3></a>
                        <p>Traditional Vietnamese soup consisting rice noodles, and meat, rich flavor and aroma.</p>
                        <p class="fav-price">₹180</p>
                    </div>
                    <div class="item">
                        <div>
                            <img src="../images/f16.jpeg" alt="Food item">
                        </div>
                        <a href="https://www.zomato.com/ncr?dishv2_id=67715&category=1"><h3>Chicken Caesar Wrap</h3></a>
                        <p>Indulge in a Chicken Caesar Wrap </p>
                        <p class="fav-price">₹250</p>
                    </div>
                    <div class="item">
                        <div>
                            <img src="../images/f17.jpg" alt="Food item">
                        </div>
                        <a href="https://www.swiggy.com/search?query=Gyoza"><h3>Gyoza</h3></a>
                        <p>Japanese dumplings filled with ground meat and vegetables and served with dipping sauce. </p>
                        <p class="fav-price">₹280</p>
                    </div>
                    <div class="item">
                        <div>
                            <img src="../images/f18.jpeg" alt="Food item">
                        </div>
                        <a href="https://www.swiggy.com/search?query=Prawns+Rice"><h3>Shrimp Scampi</h3></a>
                        <p>Italian-American dish with shrimp sautéed in garlic,lemon juice, and parsley, served atop pasta. </p>
                        <p class="fav-price">₹400</p>
                    </div>
                    <div class="item">
                        <div>
                            <img src="../images/f19.jpg" alt="Food item">
                        </div>
                        <a href="https://www.swiggy.com/search?query=Chicken+Shawarma"><h3>Chicken Shawarma</h3></a>
                        <p>Middle Eastern delight showcasing thinly sliced marinated chicken wrapped in pita bread.</p>
                        <p class="fav-price">₹180</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!--Footer-->
   <div class="footer">
    <div class="footer-1">
        <div class="logo">
            <img src="../images/se.png" alt="logo">
        </div>
        <div>
        </div>
    </div>
    <div class="footer-2">
        <img src="" alt="">
        <h2>Developed by <em><span style="color: red;">Madhav Madan</span></em></h2>
    </div>
</div>
  <!--Footer-->

  <footer>
    <div class="footer_main">

        <div class="footer_tag">
            <h2>Location</h2>
            <p>Bihar</p>
            <p>Jharkhand</p>
            <p>Delhi</p>
            <p>Hydrabad</p>
            <p>Uttarakhand</p>
        </div>

        <div class="footer_tag">
            <h2>Quick Link</h2>
            <p>Home</p>
            <p>About</p>
            <p> Food Menu</p>
            <p>Book Table</p>
        </div>

        <div class="footer_tag">
            <h2>Contact</h2>
            <p>7485863574</p>
            <p>7461851588</p>
            <p>sgs_food_restaurant@gmail.com</p>
        </div>

        <div class="footer_tag">
            <h2>Our Service</h2>
            <p>Fast Delivery</p>
            <p>Easy Payments</p>
            <p>24 x 7 Service</p>
        </div>

        <div class="footer_tag">
            <h2>Follows</h2>
            <a href="https://www.facebook.com/madhav.jha.9615566?mibextid=ZbWKwL"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://twitter.com/MADHAV62761349"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/sgs2006/"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://github.com/MadhavMadan336"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/sgs2006/"><i class="fa-brands fa-instagram"></i></a>

        </div>
    </div>
    
</footer>
    <script src="app.js"></script>
</body>

</html>
